.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    margin: 8px;
    font-size: 16px;
    background-color: inherit;
    color: inherit;
    margin-left: 15%;
    margin-right: 15%;
    align-items: start;

}

.form-input {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

input {
    font-size: inherit;
    padding: 4px;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--primary-bg-color);
    text-align: left;

}

textarea {
    text-align: left;
    font-size: inherit;
    padding: 4px;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--primary-bg-color); 
    flex-grow: 3;

}

::placeholder {
    color: inherit;
    opacity: 75%;
}

label {
    text-align: left;
}